* {
    font-family: 'Nunito', sans-serif;
    scrollbar-width: thin;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3EEEE;

}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #684fe2;
}

body::-webkit-scrollbar-thumb {
    background-color: #8775E1;
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    background-color: #F3EEEE;
}

#body {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0%;
}

#quiz-container {
    
    flex: 1;
}

#headDiv {
    display: flex;
    background-color: #b0a1f3;
    justify-content: space-between;
    border-radius: 15px;
    padding: 15px;
    margin: 15px 0 15px 0;
}

#instructions h2 {
    margin-bottom: 0;
}


#timer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 767px) {
    #headDiv {
        flex-direction: column;
        padding-top: 0px;
        margin: 0 0 15px 0;
        border-radius: 0px;
    }
}
